/* This style sheet is a group project

Choose ONE of the HTML properties to edit and then change the CSS styles assigned to that property. Put your name in the comment next to the HTML element
*/

body{
	background-color:#909F59; 
	font-family:Arial, Helvetica, sans-serif; 
	color:#EC2B5F;
	}/* style by Vicki Winters
	*/
	
.container {
	background:##3FBF88;
	border:3px solid ##188556;
	}/* style by yong fan
	*/
	
.header{
	padding: 10px;
	margin:3px;
	background:#485729;
	
}/* style by Qing Yu
	*/
	
h1.site-title{
	color:#222222;
	font-family: Chiller, Algerian, Ravie;
	text-transform:uppercase;
}/* style by Miguel Martinez & Karina
	*/
	
a, a:link, a:visited{
	color:#0033FF;
	text-decoration:underline;
	}/* style by 
	*/
	
a:hover, a:active, a:focus { 
	text-decoration: none;
	color:#F00;
	}/* style by 
	*/

h1{
	font-family:Georgia, sans-serif;
	color:#444444;
}/* style by Karina 
	*/
h2{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#444444;
}/* style by Miguel Martinez
	*/

h3{
	font-family:"Comic Sans MS", bold;
	color:#FF4B33;
	text-align:center;
	text-decoration:line-through;
}/* style by Vatsa Heera
	*/

p{
	font-family:papyrus, neuland, serif;
	color:#bcf2ab;
	text-align:center;
	font-stretch:expanded;
	font-weight:bold;
}/* style by Rahul 
	*/
	
.footer{
	border-top:5px solid #02fcfc;
	color:#FFA500;
}/* style by Vikram
	*/
	
	ul li{
		list-style-type:circle;
		margin-left:40px;
	}
.content{
	border: 10px solid transparent;
    	-webkit-border-image: url(https://raw.githubusercontent.com/SixLabors/Branding/master/icons/shapes/sixlabors.shapes.128.png) 30 round;
	-o-border-image: url(https://raw.githubusercontent.com/SixLabors/Branding/master/icons/shapes/sixlabors.shapes.128.png) 30 round;  /* Opera 11-12.1 */
    	border-image: url(https://raw.githubusercontent.com/SixLabors/Branding/master/icons/shapes/sixlabors.shapes.128.png) 30 round;
}/* style by Adar Raviv
	*/
