/* This style sheet is a group project

Choose ONE of the HTML properties to edit and then change the CSS styles assigned to that property. Put your name in the comment next to the HTML element
*/

body{
	background-color:#909F59; 
	font-family:Arial, Helvetica, sans-serif; 
	color:#EC2B5F;
	}/* style by Vicki Winters
	*/
	
.container {
	background:##3FBF88;
	border:3px solid ##188556;
	}/* style by yong fan
	*/
	
.header{
	padding: 5px;
	background:#cccccc;
	
}/* style by 
	*/
	
h1.site-title{
	color:#222222;
	font-family: Chiller, Algerian, Ravie;
}/* style by Miguel Martinez
	*/
	
a, a:link, a:visited{
	color:#0033FF;
	text-decoration:underline;
	}/* style by 
	*/
	
a:hover, a:active, a:focus { 
	text-decoration: none;
	color:#F00;
	}/* style by 
	*/

h1{
	font-family:chiller, cursive;
	color:#444444;
}/* style by 
	*/
h2{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#444444;
}/* style by Miguel Martinez
	*/

h3{
	font-family:Comic Sans MS, bold;
	color:#FF4B33;
	text-align:center;
	text-decoration:line-through;
}/* style by Vatsa Heera
	*/

p{
	font-family:Tahoma, Geneva, sans-serif;
	color:#4d4d4d4;
}/* style by 
	*/
	
.footer{
	border-top:3px solid #111111;
	color:#a1a1a1;
}/* style by 
	*/
	
	ul li{
		list-style-type:circle;
		margin-left:40px;
	}
